<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="text2alarm.app"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Text2Alarm"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="text2alarm.app.OneShotAlarm" android:process=":remote" android:exported="true"/>
        <activity android:name=".Text2Alarm"
                  android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
				<category android:name="com.adamrocker.android.simeji.REPLACE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

<!--                 
		<activity android:name=".MushroomActivity" android:icon="@drawable/icon"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
				<category android:name="com.adamrocker.android.simeji.REPLACE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
 -->
    </application>
    <uses-sdk android:minSdkVersion="3" />

<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 